html {
  font-family: Monospace;
}

body {
  background-color: #303030;
  margin: 0px;
  font-family: Monospace;
}

header {
  padding: 20px;
  width: auto;
  background-color: #504b4b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerTitle {
  color: white;
  font-size: 20px;
}

.headerButton { 
  color: black;
  background-color: rgb(11, 110, 20);
  border-radius: 3px; 
  font-family: Monospace;
  font-size: 15px;
  cursor: pointer;
}

.cardMovie { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin: 5px;
}

.containerDetail {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardMovie:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.posterDetail {
  width: 300px;
  overflow: hidden;
}

.btnFavorite {
  color: black;
  background-color: rgb(11, 110, 20);
  border-radius: 3px; 
  font-family: Monospace;
  font-size: 15px;
  cursor: pointer;
}

.movieTitle {
  color: white;
  font-size: 16px;
}

.moviePoster{
  width: 60%;
  overflow: hidden;
}